RewriteEngine on
RewriteRule ^search$ app/search.php [END]
RewriteRule ^async/(\d+)$ app/async.php?raceID=$1 [END]
RewriteRule ^results/(\d+)$ app/results.php?raceID=$1 [END]
RewriteRule ^results/(\d+)/data$ app/data.php?raceID=$1 [END]
RewriteRule ^discord$ https://discord.gg/DbJQbJTju3 [END]
RewriteRule ^sorttable.js$ includes/sorttable.js [END]
RewriteRule ^register$ app/register.php [END]
RewriteRule ^login$ app/login.php [END]
RewriteRule ^logout$ app/logout.php [END]
RewriteRule ^createasync app/createAsync.php [END]
RewriteRule ^account$ app/account.php [END]
RewriteRule ^settings$ app/accountSettings.php [END]
RewriteRule ^yourasyncs$ app/yourasyncs.php [END]
RewriteRule ^editasync/(\d+)$ app/editAsync.php?raceID=$1 [END]
RewriteRule ^yourresults$ app/yourresults.php [END]
RewriteRule ^editresult/(\d+)$ app/editresult.php?resultID=$1 [END]
RewriteRule ^createseries$ app/createseries.php [END]
RewriteRule ^addtoseries$ app/addtoseries.php [END]
RewriteRule ^yourseries$ app/yourseries.php [END]
RewriteRule ^deleteresult$ app/deleteresult.php [END]
RewriteRule ^useradmin$ app/useradmin.php [END]
RewriteRule ^reset$ app/reset.php [END]
RewriteRule ^resetpassword/([0-9a-f]+)$ app/resetpassword.php?request=$1 [END]
RewriteRule ^resetpassword$ app/resetpassword.php [END]
RewriteRule ^series$ app/series.php [END]
RewriteRule ^series/(\d+)$ app/series.php?seriesID=$1 [END]
RewriteRule ^editseries/(\d+)$ app/editseries.php?seriesID=$1 [END]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /app/home.php [L,QSA]
RewriteRule ^$ /app/home.php [L,QSA]
